.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    overflow-x: auto;
}

$paddingSize: 12px;
$borderTable: 1px solid #ccc;

$numberOfFrozenCols: 3;
$frozenContentWidth: 100px;
$frozenCellOffset: $frozenContentWidth + 2 * $paddingSize;
$timeCellWidth: 30px + 2 * $paddingSize;

@mixin table-cell {
    position: relative;
    z-index: 1;
    padding: $paddingSize;
    text-align: left;
    border-bottom: $borderTable;
}

@mixin frozen-cell {
    position: sticky;
    z-index: 10;
    @for $i from 1 through $numberOfFrozenCols {
        &:nth-child(#{$i}) {
            left: ($i - 1) * $frozenCellOffset;
        }
    }
    .fixedContent {
        width: $frozenContentWidth;
    }
    &.lastCell {
        border-right: $borderTable;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;

    .thead {
        $headingBackground: #f2f2f2;
        background-color: $headingBackground;
        font-weight: bold;
        position: relative;
        z-index: 10;

        .tr .th {
            @include table-cell();
            background-color: $headingBackground;
            & > .timelineTitle {
                width: max-content;
                position: sticky;
                z-index: 10;
                left: $numberOfFrozenCols * $frozenCellOffset + $paddingSize + $numberOfFrozenCols;
            }
            &.frozen {
                @include frozen-cell();
            }
            &.time {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0px;
                    height: 8px;
                    transform: translateX(-50%);
                    border-left: $borderTable;
                }
                & > div {
                    width: 30px;
                }
                & .vertLine {
                    position: absolute;
                    z-index: 10;
                    top: 100%;
                    left: 50%;
                    width: 0px;
                    transform: translateX(-50%);
                    border-left: $borderTable;
                    pointer-events: none;
                }
            }
        }
    }

    .tbody {
        .tr {
            .td {
                @include table-cell();
                &.frozen {
                    @include frozen-cell();
                }
                &.timeCell {
                    position: relative;
                    cursor: cell;
                    &:hover {
                        background-color: #e1f5f5;
                    }
                    &.currentTime {
                        background-color: lightgreen;
                        &:hover {
                            background-color: rgb(151, 226, 151);
                        }
                    }
                    &.creating {
                        background-color: lightsalmon;
                        &.overlapping {
                            background-color: orangered;
                        }
                    }
                    .createdTime {
                        $borderRadius: 8px;
                        $vPadding: 6px;
                        $hPadding: $timeCellWidth / 2;

                        position: absolute;
                        top: $vPadding;
                        bottom: $vPadding;
                        left: $hPadding;
                        right: $hPadding;
                        border-radius: $borderRadius;
                        cursor: pointer;

                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 8px;
                        overflow: hidden;
                        background-color: lightblue;
                    }
                }
            }
            &:nth-child(odd) .td {
                background-color: #ffffff;
            }
            &:nth-child(even) .td {
                background-color: #f9f9f9;
            }
        }
    }
}
