$borderTableColor: #e6e6e6;
$borderBreakPointColor: #bbbbbb;
$borderTable: 1px solid $borderTableColor;

$paddingHead: 12px;
$paddingBody: 8px 12px;

$fontSize: 1.2rem;
$lineHeight: 1.6rem;

$tableBackground: #fff;
$textColor: #242424;

$timelineSelectionColor: #5ec5ad;
$timelineErrorColor: #ff5959;

$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

@mixin frozenCell {
    z-index: 100000;
    border-right: $borderTable;
    transition: box-shadow 0.2s;
}

.container {
    overflow-x: auto;
    border: $borderTable;

    * {
        box-sizing: border-box;
    }

    .table {
        border-spacing: 0;
        color: $textColor;
        background-color: $tableBackground;
        font-family: $fontFamily;

        .thead .tr .th {
            padding: $paddingHead;
            font-size: $fontSize;
            font-weight: 700;
            line-height: $lineHeight;
            border-bottom: $borderTable;
            background-color: $tableBackground;
            & > .timelineTitle {
                width: max-content;
                position: sticky;
                z-index: 10;
            }
            &.frozen {
                @include frozenCell;
            }
            &.time {
                position: relative;
                padding-left: 0;
                padding-right: 0;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0px;
                    transform: translateX(-50%);
                    border-left: 1px solid $borderBreakPointColor;
                }
                &:not(.breakPoint)::before {
                    height: 5px;
                }
                &.breakPoint::before {
                    height: 8px;
                }
                & > div:not(.helperHead) {
                    color: $borderBreakPointColor;
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    transform: rotate(-180deg);
                }
                .helperHead {
                    visibility: hidden;
                    width: 18px;
                    height: 0;
                }

                &.hover {
                    color: $timelineSelectionColor;
                }
                &.rangePoints {
                    color: $timelineSelectionColor;
                    &.error {
                        color: $timelineErrorColor;
                    }
                }
            }
        }

        .tbody {
            .tr {
                .td {
                    padding: $paddingBody;
                    font-size: $fontSize;
                    line-height: $lineHeight;
                    &.frozen {
                        @include frozenCell;
                    }
                    &:not(.frozen) {
                        max-width: 18px;
                    }
                    &:not(.timeCell) {
                        border-bottom: $borderTable;
                    }
                    &.timeCell {
                        padding: 0;
                        position: relative;
                        border-right: 1px solid $borderTableColor;
                        border-right-style: dashed;

                        $arrowSize: 4px;
                        $arrowShift: 20px;
                        $arrowColor: #6aa1eb;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            transition: transform 0.2s;
                            width: 0;
                            height: 0;
                            opacity: 0;
                            border-top: $arrowSize solid transparent;
                            border-bottom: $arrowSize solid transparent;
                            pointer-events: none;
                        }
                        &.finish::before {
                            right: 0;
                            transform: translate(100%, -50%);
                            border-right: calc($arrowSize * 2) solid $arrowColor;
                        }
                        &.start::before {
                            left: 0;
                            transform: translate(-100%, -50%);
                            border-left: calc($arrowSize * 2) solid $arrowColor;
                        }
                        &.enabled.finish:not(.isNotCornerCell):hover::before,
                        &.enabled.finish.active::before {
                            opacity: 0.5;
                            transform: translate(0, -50%);
                        }
                        &.enabled.start:not(.isNotCornerCell):hover::before,
                        &.enabled.start.active::before {
                            opacity: 0.5;
                            transform: translate(0, -50%);
                        }
                        &.lastTimeline {
                            border-bottom: $borderTable;
                        }
                        &.breakPoint {
                            border-right-color: $borderBreakPointColor;
                        }
                        &.borderless {
                            border-right-color: transparent;
                        }
                        &.creating {
                            background-color: $timelineSelectionColor !important;
                            &.hideBorder {
                                border-right-color: $timelineSelectionColor !important;
                            }
                            &.overlapping {
                                background-color: $timelineErrorColor !important;
                                &.hideBorder {
                                    border-right-color: $timelineErrorColor !important;
                                }
                            }
                        }
                        &:not(.notClickable) {
                            cursor: pointer;
                        }
                        .tooltipContainer {
                            .createdTime {
                                $borderRadius: 8px;
                                $vPadding: 6px;
                                $hPadding: 2px;

                                margin: $vPadding $hPadding;
                                border-radius: $borderRadius;
                                padding: 6px 0;

                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                min-height: 28px;
                                cursor: pointer;
                                color: $textColor;
                                text-decoration: none;
                                .workContainer {
                                    width: max-content;
                                    height: 100%;
                                    .workName {
                                        width: 100%;
                                        height: 100%;
                                        font-size: $fontSize;
                                        line-height: $lineHeight;
                                        font-weight: 500;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                }
                            }
                        }
                        .helperBody {
                            visibility: hidden;
                            width: 0;
                            min-height: 40px;
                        }
                    }
                }
                &:not(.even) .td {
                    background-color: #f5f6f8;
                }
                &.even .td {
                    background-color: #ffffff;
                }
                &:last-child .td {
                    border-bottom: unset;
                }
            }
            .helperRow {
                visibility: hidden;
                & > td {
                    padding: 0;
                    margin: 0;
                    border: 0;
                }
            }
        }
    }

    .errorMessage {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        font-family: $fontFamily;
        background-color: #f8d7da;
        color: #721c24;
        padding: 24px 10px;
        font-size: 1.8rem;
        strong {
            font-size: 2rem;
            font-weight: 700;
        }
    }
}
.tooltip {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    flex-direction: column;
    max-width: 300px;
    position: absolute;
    z-index: 9999999;
    padding: 6px 8px;
    border: 1px solid #eee;
    background-color: white;
    border-radius: 4px;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-family: $fontFamily;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
